/* Basic styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #9bf7ec;
}

label {
    display: center;
    margin-bottom: 4px;
}

input[type="text"],
button {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
}

button:hover {
    background-color: #3e8e41;
}

/* Layout enhancements */
.form-group {  /* Optional for better layout */
    margin-bottom: 15px;
}

.form-group label {
    float: left;
    width: 20%;
}

.form-group input[type="text"] {
    float: right;
    width: 80%;
}
